@media (max-width: 992px){

    .hero-content{

        text-align:center;

        margin:auto;

    }

    .hero-content h1{

        font-size:2.8rem;

    }

    .hero-buttons{

        justify-content:center;

        flex-wrap:wrap;

    }

    .hero-info{

        justify-content:center;

    }

}